{# templates/dashboard/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% set show_vr = false %}
{% set show_docs = false %}

{% block body %}
    <div class="ml-96">
        <h1>Dashboard</h1>
        <p>Welcome to the dashboard!</p>
    </div>
{% endblock %}